{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container pt-3">
	<h1>Edit Item</h1>

	<form action="#" method="post">
		<p>Name:</p>
		<input type="text" size="30" name="name" class="form-control" placeholder="{{ item.name }}" />
		<p>Description:</p>
		<textarea class="form-control" rows="8" cols="50" name="description" placeholder="{{ item.description }}"></textarea>
		<select name="category" class="form-control"value="{{ item.category.id }}">
			<!-- Populate the select list with the list of categories -->
			{% for category in categories %}
			<option value="{{ category.id }}" {% if item.category.id == category.id %} selected="selected"{% endif %}>{{ category.name }}</option>
			{% endfor %}
		</select>

		<input type="submit" value="Save Changes" />

		<a href="#"> Cancel </a>
	</form>
</div>
{% endblock %}
