<div class="container-fluid">
	<div class="row banner top-menu">
		<div class="col-sm-1"></div>
		<div class="col-sm-7">
			<a href="{{url_for('show_categories')}}">
				<h1>Catalog App</h1>
			</a>
		</div>
		<div class="col-sm-4 text-right login-btn">
			{% if 'username' not in login_session %}
				<a href="{{url_for('signin')}}"><button class="btn btn-login" id="login">Login</button></a>
			{% else %}
				<a href="{{url_for('signout')}}"><button class="btn btn-login" id="logout">Logout</button></a>
			{% endif %}
		</div>
	</div>
</div>
