{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class='flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

</div>
<div class="row pt-3">
	<div class="col-sm-1"></div>
	<div class="col-sm-4">
		<h2>Categories</h2>
			<ul class="menu">
				{% for category in categories %}

					<li><a href="{{url_for('show_cat_items', category_slug = category.slug)}}">{{category.name}}</a></li>

				{% endfor %}
			</ul>
		<a href="{{url_for('new_category')}}">New Category</a>
	</div>
	<div class="col-sm-6">
			<h2>{{ category.name }} Items</h2>
			{% if items !=[] %}
				{% for item in items %}
						<div class="item row">
							<a href='{{url_for('show_item', item_slug=item.slug, category_slug=item.category.slug) }}'>
								<h5>{{item.name}}</h5>
							</a>
							<a href='{{url_for('edit_item', item_slug=item.slug ) }}'>
								<button class="btn btn-outline-dark btn-sm" id="edit-item">E</button></a>
							<a href='{{url_for('delete_item', item_slug=item.slug ) }}'><button class="btn btn-outline-dark btn-sm" id="delete-item">X</button></a>
						</div>
					{% endfor %}
			{% endif %}
		<button class="btn btn-outline-dark btn-sm padding-top padding-bottom" id="new-menu-item">
		<span class="glyphicon glyphicon-plus"></span>Add Item
		</button>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
{% endblock %}
