{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container pt-3">


    <!-- start Google Start Login -->
    <script>
      function init() {

        gapi.load('auth2', function () {

          var gauth2 = gapi.auth2.init();
          setTimeout(function(){
            gauth2.signOut().then(function () {
              console.log('User signed out.');
              window.location.href = '/signin';
            });

          }, 2000);
        });

      }
    </script>

    <!-- start Google End Login -->




    <!-- start Facebook Start Login -->


    <!-- start Facebook End Login -->



  </div>
{% endblock %}
