{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container pt-3">


        <!-- start Google Start Login -->
        <p>Sign with your Google Account</p>
        <div id="gbutton" class"button button-default"></div>
        <script>
            function init() {
                gapi.load('auth2', function () {
                    gapi.signin2.render('gbutton', {
                        scope: 'email',
                        onsuccess: offlineAccess
                    });


                });
            }
            function offlineAccess(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                // request offline access
                gapi.auth2.getAuthInstance().grantOfflineAccess({ "prompt": "consent" }).then(function (resp) {
                    var auth_code = resp.code;
                    console.log(resp);
                    $.ajax({
                        type: "POST",
                        url: "{{url_for('gconnect')}}?state={{state}}",
                        processData: false,
                        contentType: 'application/octet-stream; charset=utf-8',
                        data: auth_code,
                        success: function (result) {
                            $("body").html(result);
                            setTimeout(function () {
								window.location.href = '/catalog' }, 3000);

                        }
                    });
                });
            }
        </script>

        <!-- start Google End Login -->

    </div>
{% endblock %}
